<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>
<body>

<div>
    <div id="cont">
        <div id="menu-fixed">

            <a href="#cont">
                <i class="material-icons back">&#xE314;</i>
            </a>
            <a href="#menu-fixed">
                <div class="logo">
                    <img src="images/logofinal.png" style="width:70px;height:70px;">
                </div>
                <p class="pmenu">MENU</p>
            </a>
            <hr>

            <ul class="menu">
                <form method="post" action="/homepagev2" id="home">
                    <li><i class="material-icons" onclick="gotoHome()">&#xE88A;</i><br><span class="sideb">Home</span></li>
                </form>

                <form method="post" action="/gotoExplore" id="explore">
                    <li>
                        <i class="material-icons" onclick="gotoExplore()">&#xe02c;</i><br>
                        <span class="sideb">Explore</span>
                    </li>
                </form>
                <form method="post" action="/gotoPlaylistExp" id="playlistExp">
                    <li>
                        <i class="material-icons" onclick="gotoPlaylistExplorer()">&#xe02c;</i><br>
                        <span class="sideb">Playlist</span>
                    </li>
                </form>

                <form method="post" action="/gotoProfile" id="profile">
                    <li>
                        <i class="material-icons" onclick="gotoProfile()">person</i><br>
                        <span class="sideb">Profile</span>
                    </li>
                </form>
                <form method="post" action="/logoutUser" id="logout">
                    <li>
                        <i class="material-icons" onclick="logoutUser()">&#xE8B8;</i><br>
                        <span class="sideb">Log-out</span>
                    </li>
                </form>

                <li><i class="material-icons">&#xE8B6;</i><br><span class="sideb">Search</span></li>
            </ul>


            <i class="material-icons info">&#xE88E;</i>
        </div>
    </div>
</div>

<div class="strip-background"></div>

<div class="search__container">
    <ul class="card">

        <li class="search-item" th:each="r : ${results}">
            <form th:id="${r.videoid}" action="/gotoPlayer" method="get">
                <input type="hidden" name="clicked" th:value="${r.videoid}"/>
            <img class="search-item__image" th:src="${r.thumbnail}" href="javascript:;" th:onclick="'document.getElementById(\''+${r.videoid}+'\').submit();'" >
            </form>
                <div class="search-item__content">
                <p class="text--medium" th:text="${r.title}"></p>

                <p class="text--small text--muted" th:text="${r.artist}"></p>
                <!--<p class="text&#45;&#45;small text&#45;&#45;muted" th:text="{r.genre}"></p>-->
            </div>

            <!--<div class="search-item__options">-->
                <!--<button class="button button&#45;&#45;outline button&#45;&#45;small">Add to PNB</button>-->
            <!--</div>-->

        </li>



    </ul>
</div>

<div class="text--center">
    <p class="text--small text--muted">No more results.</p>
</div>




</body>
</html>